.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: "Architects Daughter";
  margin: 147px 502px 60px 404px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 402px;
    margin-left: 304px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 292px;
    margin-left: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 202px;
    margin-left: 104px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 102px;
    margin-left: 4px;
  }
}